<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgmmers.radar.mapper.DataListMetaMapper">
  <resultMap id="BaseResultMap" type="com.pgmmers.radar.model.DataListMetaPO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="DATA_LIST_ID" jdbcType="BIGINT" property="dataListId" />
    <result column="FIELD_NAME" jdbcType="VARCHAR" property="fieldName" />
    <result column="LABEL" jdbcType="VARCHAR" property="label" />
    <result column="SEQ_NUM" jdbcType="INTEGER" property="seqNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>