<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgmmers.radar.mapper.ModelConfParamMapper">
  <resultMap id="BaseResultMap" type="com.pgmmers.radar.model.ModelConfParamPO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mold_id" jdbcType="BIGINT" property="moldId" />
    <result column="feed" jdbcType="VARCHAR" property="feed" />
    <result column="expressions" jdbcType="VARCHAR" property="expressions" />
  </resultMap>
</mapper>