<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgmmers.radar.mapper.PreItemMapper">
  <resultMap id="BaseResultMap" type="com.pgmmers.radar.model.PreItemPO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="MODEL_ID" jdbcType="BIGINT" property="modelId" />
    <result column="SOURCE_FIELD" jdbcType="VARCHAR" property="sourceField" />
    <result column="SOURCE_LABEL" jdbcType="VARCHAR" property="sourceLabel" />
    <result column="DEST_FIELD" jdbcType="VARCHAR" property="destField" />
    <result column="LABEL" jdbcType="VARCHAR" property="label" />
    <result column="ARGS" jdbcType="VARCHAR" property="args" />
    <result column="PLUGIN" jdbcType="VARCHAR" property="plugin" />
    <result column="CONFIG_JSON" jdbcType="VARCHAR" property="configJson" />
    <result column="REQ_TYPE" jdbcType="VARCHAR" property="reqType" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>