<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pgmmers.radar.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.pgmmers.radar.model.UserPO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="PASSWD" jdbcType="VARCHAR" property="passwd" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="VIP_LEVEL" jdbcType="INTEGER" property="vipLevel" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="GITEE_ACCOUNT" jdbcType="VARCHAR" property="giteeAccount" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>